<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home">HeroesApp</a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="isMenuCollapsed = !isMenuCollapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      [ngbCollapse]="isMenuCollapsed"
      class="collapse navbar-collapse"
      id="navbarNav"
    >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            (click)="isMenuCollapsed = true"
            routerLink="home"
            routerLinkActive="active"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            (click)="isMenuCollapsed = true"
            routerLink="search"
            routerLinkActive="active"
            >Search Heroes</a
          >
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" (click)="logOut()" style="cursor:pointer;">Logout</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
